<div class="banner">

    <div class="conteudo-banner">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <div class="menu-sanduiche" (click)="toggleMenu()">
            <i class="fa-solid fa-bars"></i>
        </div>
    
        <div class="menu-itens" [class.open]="menuAberto">
            <div class="icon-vitrine">
                <i class="fa-solid fa-house" (click)="IrVitrine()"></i>
            </div>
            <div class="icon-login">
                <i class="fa-solid fa-user" (click)="IrCadastro()"></i>
            </div>
            <div class="icon-cesta">
                <i class="fa-solid fa-cart-shopping" (click)="IrCesta()"></i>
            </div>
        </div>
    
        <div>
            <a href="./vitrine"> <img src="./logo_loja.jpg" alt="Logo" class="logo"></a>
        </div>
        <div class="barra-busca">
            <input type="text" [(ngModel)]="filtro" placeholder="Buscar">
            <button (click)="fazerBusca()">OK</button>
        </div>
        <div class="bordao-loja">
            <h1>ZERO BYTE</h1>
            <p>Onde o Zero vira inovação e o Byte, solução!</p>
        </div>
    </div>
</div>