<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <img src="./logo_loja.jpg" width="150" alt="Logo" class="logo">
            <h2>Login</h2>
            <form>
                <div class="input-group">
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input-group">
                    <input type="password" required>
                    <label>Senha</label>
                </div>
                <div class="forgot-pass">
                    <a href="./esqueci-senha">Esqueceu sua senha?</a>
                </div>
                <button type="submit" class="btn">Entrar</button>
                <div class="register-link">
                    Não tem uma conta? <a href="./cadastro">Cadastre-se</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
