.icon-login, .icon-cesta, .icon-vitrine {
    font-size: 20px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 20px;
}
  
.icon-login {
    right: 70px;
}
  
.icon-cesta {
    right: 25px;
}
  
.icon-vitrine {
    right: 115px;
 }