<div id="modalConfirmacaoCarrinho" class="modal" *ngIf="mostrarModalCarrinho">
    <div class="modal-conteudo">
      <h2>Produto adicionado ao carrinho!</h2>
      <button (click)="fecharModalCarrinho()">Fechar</button>
    </div>
  </div>
  
  <div id="modalConfirmacao" class="modal" *ngIf="mostrarModal">
    <div class="modal-conteudo">
      <h2>Confirmação</h2>
      <p>Você deseja adicionar este produto ao carrinho?</p>
      <button (click)="confirmarAdicao(produtoSelecionado)">Confirmar</button>
      <button (click)="cancelarAdicao()">Cancelar</button>
    </div>
  </div>


<div class="container-vitrine">
    <h3 class="mensagem" [innerHTML]="mensagem"></h3>
    <h4 class="busca-vazia" *ngIf="lista.length <= 0">Tente buscar por outra palavra</h4>
    <div class="grade-produtos">
        <ng-container *ngFor="let item of lista">
            <div class="item-produto"
              *ngIf="item.keywords.join(', ').toLowerCase().indexOf(filtro.toLowerCase()) >= 0">
                <img src="./{{item.codigo}}.jpg" alt="{{item.nome}}" width="200" (click)="verDetalhe(item)">
                <h4>{{item.nome}}</h4>
                <p>R$ {{item.valor.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}}</p>
                <button class="btnVerDetalhe" (click)="verDetalhe(item)">Ver Detalhes</button>
                <button class="btnComprar" *ngIf="item.quantidade" (click)="adicionarCesta(item)">Comprar</button>
            </div>
        </ng-container>
    </div>
</div>