<div class="container-vitrine">
  <h3 class="mensagem">{{mensagem}}</h3>
  <h4 *ngIf="lista.length <= 0">Não existe nenhum produto na vitrine</h4>
  <div class="grade-produtos">
    <div class="item-produto" *ngFor="let item of lista">
      <img src="./{{item.codigo}}.jpg" alt="{{item.nome}}" width="200" (click)="verDetalhe(item)">
      <h4>{{item.nome}}</h4>
      <p>R$ {{item.valor}}</p>
      <button class="btnVerDetalhe" (click)="verDetalhe(item)">Ver Detalhes</button>
      <button class="btnComprar" *ngIf="item.quantidade">Comprar</button>
    </div>
  </div>
</div>