<div class="container">
    <div class="form-box">
        <a href="./login" class="back-arrow">
            <i class="fa-solid fa-arrow-left"></i>
        </a>    
        <h2>Enviaremos um Email para a redefinição de senha</h2>
        <b class="mensagem">{{mensagem}}</b>
        <form>
            <div class="input-group">
                <input type="email" [(ngModel)]="obj.email" name="email" required>
                <label>Email</label>
            </div>
            <button  class="btn" (click)="reenviar()">Enviar</button>
        </form>
    </div>
</div>
